<div class="main-container">
    <div class="title-container">
      <h1>Detecção de Peixes</h1>
      <p>Clique no botão abaixo para fazer o upload de uma imagem. Em seguida, aperte no botão "Realizar Detecção".</p>
    </div>

    <app-input-file (fileSelected)="receiveFile($event)"></app-input-file>
  
    <div class="image-container">
      <app-image-container [source]="selectedFileUrl"></app-image-container>
      <app-image-container [source]="resultImageUrl"></app-image-container>
    </div>
  
    <!-- Botão para iniciar a detecção -->
    <app-button (buttonClick)="handleClickMain()">Realizar Detecção</app-button>
  </div>
  