<div class="main-container">
    <div class="title-container">
        <h1>Detecção de Objetos Submersos</h1>
        <span>Clique no Botão abaixo para fazer upload de uma imagem. Em seguida, aperte no Botão "Realizar Detecção"</span>
    </div>
    <app-input-file></app-input-file>
    <div class="image-container">
        <app-image-container></app-image-container>
        <app-image-container></app-image-container>
    </div>
    <app-button [onClick]="handleClick">Realizar Detecção</app-button>
</div>




